@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/Back.png");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: #fff;
    margin-top: -10rem;
    margin-bottom: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
}

.countdown-el {
    text-align: center;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.end-msg {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.filter {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}